body {
  background-image: linear-gradient(50deg, #6699ff, teal);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  margin: 30px;
}


center {
  border: 1px solid white;
  padding: 30px;
  margin: 20px 200px;
  clear: both;
}

.nav ol li {
  display: inline;
  padding: 2px 4px;
  border: 1px solid white;
  
}

.nav ol {
  float: right;
}

